<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
    <nav th:replace="fragments :: app-navigation">
    </nav>
    <div th:replace="fragments :: heading">
    </div>

    <div class="container">

        <!-- Add some information about the application -->

        <p>
            This is an application to enter new customers into a database! Use the navigation bar
            up top to navigate the application!
        </p>
    </div>

</body>
</html>