<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
    <nav th:replace="fragments :: app-navigation">
    </nav>
    <div th:replace="fragments :: heading">
    </div>

    <div class="container">

        <!-- Form submitted -->

        <p>The customer has been submitted!</p>
        <form method="get" action="/app-ctrl/customer-entry">
            <button class="btn btn-primary">Go Back</button>
        </form>
    </div>

</body>
</html>